*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;
}

.container{
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.background{
    transform: translateZ(-40px) scale(5);
}

.fourground{
    transform: translateZ(-20px) scale(3);
}

.background, .fourground{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
}


h1{
    position: absolute;
    font-size: 6rem;
    top: 8rem;  
    left: 50%;
    letter-spacing: 4px;
    transform: translateX(-50%);
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0,0.3) ;
}

.gallerybtn button{
    padding: 10px;
    font-size: 2rem;
    font-family: monospace;
    transform: translate(290%);
    border-radius: 10px;
    background: #000;
    color: white;
}

section{
    background-color: rgb(45,45,45);
    color: white;
    padding: 1rem 0 ;
}

.seheading{
    padding: 0 10rem;
    font-size: 3rem;
    font-family: sans-serif;
}

.text{
    font-size: 20px;
    /*font-size: 1.5rem;*/
    font-family: monospace;
    padding: 0 10rem;
    /*margin: 5rem 0;*/
    margin-top: 3rem;
    margin-bottom: 3rem;

}

.bg{
    position: relative;
    width: 100%;
    height: 500px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.desc{
    position: absolute;
    font-family: sans-serif;
    background-color: black;
    border-radius: 20px;
    padding: 30px;
    /*padding:  0.5rem 2.5rem;*/
    text-decoration: none;
    color: white;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.bg1{
    background-image: url(assets/bg1.JPG);
    
}

.bg2{
    background-image: url(assets/3.jpeg);
    
}
.bg3{
    background-image: url(assets/5.png);
    
}

.footer{
    display: flex;
}

.logo{
    
    height: 50px;
    justify-content: center;
    align-items: center;
    transform: translate(1150%);
    margin: 10px;
    margin-top: 30px;
    border-bottom: 30px;
}

.rights{
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
    transform: translate(39%);
}